/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.warning {
  color: red;
}

.mat-paginator {
  position: absolute;
  bottom: 0;
  right: 0;
}
